{% extends "base.html" %} 
<!---->
{% block content %}
<div>
  <h1>หน้าสำหรับทดสอบ</h1>
</div>
<div class="container">
  <div>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      {% for i in list %}
      <tbody>
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
