{% extends "base.html" %} 
<!---->
{% block content %}
<div>
  <div class="container">
    {% for i in list %}
    <div class="row">
      <div class="card-group p-1">
        <div class="col-sm-4 p-1">
          <div class="card p-2 border-success ">
            <img src="https://i.pinimg.com/474x/c8/59/bf/c859bf97ef1ad02ca85d7b3d4bb34475.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">green detail</h5>
            </div>
          </div> 
        </div>
        <div class="col-sm-4 p-1">
          <div class="card p-2 border-danger">
            <img src="https://i.pinimg.com/736x/05/06/38/050638ff6c9dbaaab870dd10d57e8e79.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">red detail</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 p-1">
          <div class="card p-2 border-dark">
            <img src="https://i.pinimg.com/474x/eb/4a/57/eb4a57da181614b175e11d6e9fbca7cc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">black detail</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}