{% extends "base.html" %} 
<!---->
{% block content %}
<div>
  <div class="container">
    {% for i in list %}
    <div class="row">
      <div class="card-group p-1">
        <div class="col-sm-4 p-1">
          <div class="card p-2 border-success ">
            <img src="https://i.pinimg.com/564x/09/44/51/094451be4836f1257f42cbfd82b1f86e.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">green detail</h5>
            </div>
          </div> 
        </div>
        <div class="col-sm-4 p-1">
          <div class="card p-2 border-danger">
            <img src="https://i.pinimg.com/564x/55/c1/3e/55c13eced8d72536a781451cd4ccf0e9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">red detail</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 p-1">
          <div class="card p-2 border-dark">
            <img src="https://i.pinimg.com/736x/f6/9b/a1/f69ba1f696b6c29fa868eb467f9e536c.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">black detail</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}