{% extends "base.html" %}
<!---->
{% block content %}
<div>
  <div class="container">
    <div>
      <h1 class="mt-4 mb-4">ฟอร์มสำหรับส่งข้อมูล</h1>
      {% if email != "" and password != "" %}
      <div class="mt-2 mb-4">
        <h3>email : {{ email }}</h3>
        <h3>password : {{ password }}</h3>
      </div>
      {% endif %}
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="my-password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}

